<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Genetics-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Genetics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F8A7F5A1C7CAD8E0073EDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8A7F691C7CADAB0073EDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F8A7F721C7CADAB0073EDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
